# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data - generated
data/processed/*
!data/processed/.gitkeep
!data/processed/customer_metrics.csv
!data/processed/product_metrics.csv
!data/processed/monthly_revenue_metrics.csv

# Environment
.env
